/*HEADER*/
#main-header {
    font-size: 1.2rem;
    width: 100%;
}

#navigation {
    gap: 2rem;
    padding: 2rem;
}

#logo {
    gap: 1rem;
    padding: 2rem;
}

@media screen and (max-width: 680px) {
    #main-header {
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }

    #logo {
        flex-direction: column;
        padding: 1rem;
    }

    #navigation {
        flex-direction: column;
        align-items: stretch;
        gap: 1px;
        padding: 1rem 0 2rem 0;
        width: 100%;
    }

    #navigation>li>a {
        display: block;
        color: var(--primary-color);
        background-color: var(--nav-color);
        padding: 0.8rem;
        text-align: center;
    }

    #navigation>li>a:hover,
    #navigation>li>a:active,
    #navigation>li>a:focus {
        background-color: var(--primary-color);
        color: var(--nav-color);
    }
    
}

/*INDEX*/
#home {
    min-height: 100vh;
}

#home>main {
    flex-grow: 1;
}

#intro {
    margin: 3.2rem 0;
    gap: 2rem;
}

/*CONTENT*/
section.content {
    gap: 1.6rem;
    min-height: 60vh;
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    padding: 4rem 2rem 0 2rem;
    background-color: var(--primary-color);
    box-shadow: var(--shadow);
    clip-path: var(--cyber);
}

@media screen and (max-width: 1350px) {
    section.content {
        margin: 0 1rem;
    }
    
}

@media screen and (max-width: 680px) {
    section.content {
        padding: 4rem 0.4rem 0 0.4rem;
    }
    
}

/*FOOTER*/
#main-footer {
    padding: 2rem 0;
    width: 100%;
}

#main-footer>h3 {
    padding: 2rem;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}